{
    "semi": true,
    "jsxSingleQuote": false,
    "tabWidth": 2,
    "endOfLine": "lf",
    "whitespaceSensitivity": "strict",
    "printWidth": 100,
    "singlequotes": false,
    "trailingComma": "all",
    "importOrder": ["^@/", "^\\.", "^"],
    "importOrderSeparation": true
}